*{
    background-color: darkgrey;
    color: darkslategrey;
    font-family: fantasy;
    font-size: larger;
    
}

.leftchat{
    display: flex;
    flex-direction: column;
      gap: 8px;
      list-style: none;
      border: 2px white solid;
   
     
}

.left{
  align-self: flex-end;
  background: #d1eaff;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 60%;
}

.right{
  align-self: flex-start;
  background: #f0f0f0;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 60%;
}
